@import url(css_2.css);
@charset 'UTF-8';
/* Base Styles */

#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-size: 14px;
  position: relative;
}
#cssmenu a {
  line-height: 1.3;
}
#cssmenu {
	display: block;
  	width: 950px;
	left:50%;
	margin-left:-475px;
}
#cssmenu > ul > li > a {
  font-size: 25px;
  font-weight: bold;
  display: block;
  background: #AE2148;
  color: #ffffff;
  text-transform: uppercase;
}
#cssmenu > ul > li > a > span {
  background: #A3123F;
  padding: 10px;
  display: block;
  font-size: 13px;
  font-weight: 300;
}
#cssmenu > ul > li > a:hover {
  text-decoration: none;
}
#cssmenu > ul > li.active {
  border-bottom: none;
}
#cssmenu > ul > li.active > a {
  color: #fff;
}
#cssmenu > ul > li.active > a span {
  background: #AE2148;
}
#cssmenu span.cnt {
  position: absolute;
  top: 8px;
  right: 15px;
  padding: 0;
  margin: 0;
  background: none;
}
/* Sub menu */
#cssmenu ul ul {
  display: none;
}
#cssmenu ul ul a {
  padding: 10px;
  display: block;
  font-size: 13px;
}
#cssmenu ul ul a:hover {
  color: #fff;
}
#cssmenu ul ul li.odd {
  background: #AE2148;
}
#cssmenu ul ul li.even {
  background: #AE2148;
}

@media screen and (min-width: 0px) and (max-width: 960px) {
	#cssmenu {
		width: 650px;
		margin-left:-325px;
	}
}
@media screen and (min-width: 0px) and (max-width: 660px) {
	#cssmenu {
		width: 340px;
		margin-left:-170px;
	}
}
